/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


 .field_with_errors {
   color: red;
 }

 #error_explanation {
   border: 4px solid red;
 }

 .notice {
   border: 4px solid blue;
   font-weight: bold;
   background-color: #FFFF99;
 }

 * {
   background-color: #1dacd6;
   font-family: 'Raleway', sans-serif;
 }

 #welcome-page {
   text-align: center;
   border: 5px solid #ffd504;
   padding: 50px;
 }

 #signup {
   text-align: center;
   border: 5px solid #cd4985;
   padding: 40px;
 }

 #login {
   text-align: center;
   border: 5px solid #00ff00;
   padding: 40px;
 }

 div#signup form input {
   background-color: white;
 }

 div#login form input {
   background-color: white;
 }

 form.new_post input {
   background-color: white;
 }

 form.new_post textarea {
   background-color: white;
 }

 form.new_collection input {
   background-color: white;
 }

 form.new_collection textarea {
   background-color: white;
 }

 #post_index {
   text-align: center;
 }

 .buttons {
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
 }

 .buttons form.button_to {
   margin-left: 10px;
   margin-right: 10px;
 }

 .post {
   background-color: #f1eec1;
   border: 4px solid #047527;
   padding: 10px;
   margin: 10px;
 }

 .post h4 {
   background-color: #f1eec1;
 }

 .post a {
   background-color: #f1eec1;
 }

 .post h5 {
   background-color: #f1eec1;
 }

 .post p {
   background-color: #f1eec1;
 }

 #new_post_form {
   text-align: center;
   border: 5px solid #66FF33;
   padding: 40px;
   background-color: #CCFF66;
 }

 #new_post_form h1 {
   background-color: #CCFF66;
 }

 #new_post_form form {
   background-color: #CCFF66;
 }

 #new_post_form form label {
   background-color: #CCFF66;
 }

 form.edit_post input {
   background-color: white;
 }

 form.edit_post textarea {
   background-color: white;
 }

 #edit_post_form {
   text-align: center;
   border: 5px solid #FF3366;
   padding: 40px;
   background-color: #FF66FF;
 }

 #edit_post_form h1 {
   background-color: #FF66FF;
 }

 #edit_post_form form {
   background-color: #FF66FF;
 }

 #edit_post_form form label {
   background-color: #FF66FF;
 }

 #show_post_page {
   text-align: center;
   border: 5px solid #009933;
   padding: 20px;
   background-color: #00CCCC;
 }

 #show_post_page h1 {
   background-color: #00CCCC;
 }

 #show_post_page h4 {
   background-color: #00CCCC;
 }

 #show_post_page p {
   background-color: #00CCCC;
 }

 #show_post_page h3 {
   background-color: #00CCCC;
 }

 #show_post_page a {
   background-color: #00CCCC;
 }

 #show_post_page form {
   background-color: #00CCCC;
   margin-bottom: 10px;
 }

 #post_comments {
   background-color: #00CCCC;
 }

 #post_comments form {
   background-color: #EEFF27;
 }

 #post_comments h4 {
   background-color: #EEFF27;
 }

 #post_comments p {
   background-color: #EEFF27;
 }

 .comment {
   border: 5px solid #6B3232;
   background-color: #EEFF27;
   margin: 10px;
 }

 form.new_comment input {
   background-color: white;
 }

 form.new_comment textarea {
   background-color: white;
 }

 form.edit_comment input {
   background-color: white;
 }

 form.edit_comment textarea {
   background-color: white;
 }

 #edit_comment_form {
   background-color: #00CC00;
   border: 5px solid #990033;
   text-align: center;
   padding: 40px;
 }

 #edit_comment_form h1 {
   background-color: #00CC00;
 }

 #edit_comment_form form {
   background-color: #00CC00;
 }

 #edit_comment_form form label {
   background-color: #00CC00;
 }

 #new_comment_form form label {
   background-color: #00CCCC;
 }

 #new_comment_form {
   background-color: #00CCCC;
 }

 #collection_index {
   text-align: center;
 }

 .collection {
   background-color: #F2D1EC;
   border: 4px solid #6b3232;
   padding: 10px;
   margin: 10px;
 }

 .collection h3 {
   background-color: #F2D1EC;
 }

 .collection h5 {
   background-color: #F2D1EC;
 }

 .collection p {
   background-color: #F2D1EC;
 }

 .collection a {
   background-color: #F2D1EC;
 }

 #new_collection_form {
   text-align: center;
   border: 5px solid #F3AE09;
   padding: 40px;
   background-color: #99FFFF;
 }

 #new_collection_form h1 {
   background-color: #99FFFF;
 }

 #new_collection_form form {
   background-color: #99FFFF;
 }

 #new_collection_form form label {
   background-color: #99FFFF;
 }

 #show_collection_page {
   text-align: center;
   border: 5px solid #727211;
   padding: 20px;
   background-color: #33CCFF;
 }

 #show_collection_page h1 {
   background-color: #33CCFF;
 }

 #show_collection_page h4 {
   background-color: #33CCFF;
 }

 #show_collection_page p {
   background-color: #33CCFF;
 }

 #show_collection_page h3 {
   background-color: #33CCFF;
 }

 #show_collection_page a {
   background-color: #33CCFF;
 }

 #show_collection_page form {
   background-color: #33CCFF;
   margin-bottom: 10px;
 }

 #collection_edit_form {
   text-align: center;
   border: 5px solid #CC66CC;
   padding: 40px;
   background-color: #F9D35C;
 }

 #collection_edit_items {
   background-color: #F9D35C;
 }

 form.edit_item input {
   background-color: white;
 }

 form.edit_item textarea {
   background-color: white;
 }

 form.edit_collection input {
   background-color: white;
 }

 form.edit_collection textarea {
   background-color: white;
 }

 #collection_edit_form h1 {
   background-color: #F9D35C;
 }

 #collection_edit_form h3 {
   background-color: #F9D35C;
 }

 #collection_edit_form h4 {
   background-color: #F9D35C;
 }

 #collection_edit_form p {
   background-color: #F9D35C;
 }

 #collection_edit_form form {
   background-color: #F9D35C;
 }

 #collection_edit_form label {
   background-color: #F9D35C;
 }

 #collection_items {
   background-color: #33CCFF;
 }

 #show_collection_page div.item {
   background-color: #33CC99;
   border: 5px solid #3300FF;
   margin: 10px;
 }

 #show_collection_page div.item h4 {
   background-color: #33CC99;
 }

 #show_collection_page div.item p {
   background-color: #33CC99;
 }

 div#collection_reviews {
   background-color: #33CCFF;
 }

 #show_collection_page div.review {
   background-color: #FFCC00;
   border: 5px solid #FF0099;
   padding: 10px;
   margin: 10px;
 }

 #show_collection_page div.review h4 {
   background-color: #FFCC00;
 }

 #show_collection_page div.review p {
   background-color: #FFCC00;
 }

 #show_collection_page div.review form {
   background-color: #FFCC00;
 }

 #show_collection_page div.review p strong {
   background-color: #FFCC00;
 }

 #collection_edit_form div.item {
   background-color: #99FF33;
   border: 5px solid #0033CC;
   padding: 10px;
   margin: 10px;
 }

 #collection_edit_form div.item h4 {
   background-color: #99FF33;
 }

 #collection_edit_form div.item p {
   background-color: #99FF33;
 }

 #collection_edit_form div.item form {
   background-color: #99FF33;
 }

 #new_item_form {
   background-color: #F9D35C;
 }

 #edit_item_form {
   text-align: center;
   background-color: #CCFFFF;
   border: 5px solid #006666;
   padding: 40px;
 }

 #edit_item_form h1 {
   background-color: #CCFFFF;
 }

 #edit_item_form form {
   background-color: #CCFFFF;
 }

 #edit_item_form form label {
   background-color: #CCFFFF;
 }

 #new_review_form {
   background-color: #33CCFF;
 }

 #new_review_form form label {
   background-color: #33CCFF;
 }

 #edit_review_form {
   text-align: center;
   background-color: #FFCC99;
   border: 5px solid #003399;
   padding: 40px;
 }

 #edit_review_form h1 {
   background-color: #FFCC99;
 }

 #edit_review_form form {
   background-color: #FFCC99;
 }

 #edit_review_form form label {
   background-color: #FFCC99;
 }

 form.button_to input {
   background-color: white;
 }
