<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<h1>Welcome to Share-Able!</h1>
<p>This website allows you to share your favorite collections with other members as well as post interesting things. Share the latest news, status updates, accomplishments, and much more. You can also comment on posts from other members to share your ideas and opinions, as well as leave reviews for others' collections. Sign up for a free new account or log into your existing account below to start sharing!</p>
<%= link_to "Sign Up", new_user_path %>
<br><br>
<%= link_to "Log In", login_path %>
