/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .field_with_errors {
   color: red;
 }

 #error_explanation {
   border: 4px solid red;
 }

 .notice {
   border: 4px solid blue;
   font-weight: bold;
   background-color: #FFFF99;
 }

 * {
   background-color: #1dacd6;
   font-family: 'Raleway', sans-serif;
 }

 #welcome-page {
   text-align: center;
   border: 5px solid #ffd504;
   padding: 50px;
 }

 #signup {
   text-align: center;
   border: 5px solid #cd4985;
   padding: 40px;
 }

 #login {
   text-align: center;
   border: 5px solid #00ff00;
   padding: 40px;
 }

 #post_index {
   text-align: center;
 }

 .buttons {
   display: flex;
   justify-content: center;
 }

 .post {
   background-color: #f1eec1;
   border: 4px solid #047527;
   padding: 10px;
 }

 .post h4 {
   background-color: #f1eec1;
 }

 .post h4 a {
   background-color: #f1eec1;
 }

 .post h5 {
   background-color: #f1eec1;
 }

 .post p {
   background-color: #f1eec1;
 }

 #new_post_form {
   text-align: center;
   border: 5px solid #66FF33;
   padding: 40px;
   background-color: #CCFF66;
 }

 #new_post_form h1 {
   background-color: #CCFF66;
 }

 #new_post_form form {
   background-color: #CCFF66;
 }

 #new_post_form form label {
   background-color: #CCFF66;
 }

 #edit_post_form {
   text-align: center;
   border: 5px solid #FF3366;
   padding: 40px;
   background-color: #FF66FF;
 }

 #edit_post_form h1 {
   background-color: #FF66FF;
 }

 #edit_post_form form {
   background-color: #FF66FF;
 }

 #edit_post_form form label {
   background-color: #FF66FF;
 }

 #show_post_page {
   text-align: center;
   border: 5px solid #009933;
   padding: 20px;
   background-color: #00CCCC;
 }

 #show_post_page h1 {
   background-color: #00CCCC;
 }

 #show_post_page div {
   background-color: #00CCCC;
 }

 #show_post_page h4 {
   background-color: #00CCCC;
 }

 #show_post_page p {
   background-color: #00CCCC;
 }

 #show_post_page h3 {
   background-color: #00CCCC;
 }

 #show_post_page a {
   background-color: #00CCCC;
 }

 #show_post_page form {
   background-color: #00CCCC;
 }
